body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("ricknmortyspacebckg.png");
  background-size: contain;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  padding: 15px;
  
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}

.main-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto;
  padding: 5%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

header h1 {
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 5.75rem;
  color: white;
  
}

.character-list h1 {
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 5rem;
  color: white;
  
}

.character-card {
  width: 75%;
  margin: 0 auto;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navLinks a {
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    color: white;
        
}